# 1. Limpieza de Datos <img src="fcfm.png" style="width: 80px;" style="float: right;"  align="right"  margin-right= "50px"/>

032 E2024 Inteligencia Artificial 

Dr. Luis Ángel Gutiérrez Rodríguez

Ismael Sandoval Aguilar 

3 de Febrero de 2024

In [109]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from random import choices

In [110]:
df = pd.read_csv('Actividad1-StudentsPerformance.csv')

In [111]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [112]:
# Too lazy to repeat the same operation
def simple_mean(a, b):
        return (a + b) / 2

# Class for each student
class Student:
    def __init__(self, df):
        self.gender = df.iloc[0]
        self.ethnicity = df.iloc[1]
        self.level_education = df.iloc[2]
        self.lunch = df.iloc[3]
        self.test_course = df.iloc[4]
        self.math_score = df.iloc[5]
        self.reading_score = df.iloc[6]
        self.writing_score = df.iloc[7]
        self.average_score = (df.iloc[5] +  df.iloc[6] + df.iloc[7]) / 3

    def __gt__(self, other):
        if (self.average_score > other.average_score):
            return True
        else:
            return False
        
    def __lt__(self, other):
        if (self.average_score < other.average_score):
            return True
        else:
            return False

    def __add__(self, other):

        result = [
            choices([self.gender, other.gender]),
            choices([self.ethnicity, other.ethnicity]),
            choices([self.level_education, other.level_education]),
            choices([self.lunch, other.lunch]),
            choices([self.test_course, other.test_course]),
            simple_mean(self.math_score, other.math_score),
            simple_mean(self.reading_score, other.reading_score),
            simple_mean(self.writing_score, other.writing_score),
            simple_mean(self.average_score, other.average_score),
        ]

        return result

In [113]:
# Generate an array of objets 
array_instances = [Student(df.iloc[i]) for i in range(len(df))]

# Confirm that the array contains the required data
vars(array_instances[0])

{'gender': 'female',
 'ethnicity': 'group B',
 'level_education': "bachelor's degree",
 'lunch': 'standard',
 'test_course': 'none',
 'math_score': 72,
 'reading_score': 72,
 'writing_score': 74,
 'average_score': 72.66666666666667}

In [114]:
# Confirm that the greater operator works
array_instances[0] > array_instances[1]

False

In [115]:
# Confirm that the lesser operator works
array_instances[0] < array_instances[1]

True

In [116]:
# Confirm that the addition operator works
array_instances[0] + array_instances[0]

[['female'],
 ['group B'],
 ["bachelor's degree"],
 ['standard'],
 ['none'],
 72.0,
 72.0,
 74.0,
 72.66666666666667]