# 2. Graficación de Datos <img src="fcfm.png" style="width: 80px;" style="float: right;"  align="right"  margin-right= "50px"/>

032 E2024 Inteligencia Artificial 

Dr. Luis Ángel Gutiérrez Rodríguez

Ismael Sandoval Aguilar 

3 de Febrero de 2024

### Descripción de los datos

- Age: Age of the patient.
- Sex: Sex of the patient.
- exang: exercise induced angina (1 = yes; 0 = no).
- ca: number of major vessels (0-3).
- cp: Chest Pain:
    - Value 1: typical angina
    - Value 2: atypical angina
    - Value 3: non-anginal pain
    - Value 4: asymptomatic
- trtbps: resting blood pressure (in mm Hg).
- chol: cholestoral in mg/dl fetched via BMI sensor.
- fbs: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false).
- rest_ecg : resting electrocardiographic results:
    - Value 0: normal
    - Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
    - Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria
- thalach : maximum heart rate achieved.
- target : 0 = less chance of heart attack; 1 = more chance of heart attack.

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Actividad2-heartattack.csv')

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0.23
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0.37
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0.24
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0.28
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0.21

In [38]:
# Class for each patient
class Patient:
    def __init__(self, df):
        self.age = df.iloc[0]
        self.sex = df.iloc[1]
        self.cp = df.iloc[2]
        self.trestbps = df.iloc[3]
        self.chol = df.iloc[4]
        self.fbs = df.iloc[5]
        self.restecg = df.iloc[6]
        self.thalach = df.iloc[7]
        self.exang = df.iloc[8]
        self.oldpeak = df.iloc[9] 
        self.slope = df.iloc[10] 
        self.ca = df.iloc[11] 
        self.thal = df.iloc[12] 
        self.target = df.iloc[13]
    
    def __gt__(self, other):
        if (self.target > other.target):
            return True
        else:
            return False

In [40]:
# Generate an array of objets 
array_instances = [Patient(df.iloc[i]) for i in range(len(df))]

# Confirm that the array contains the required data
vars(array_instances[0])

{'age': 52.0,
 'sex': 1.0,
 'cp': 0.0,
 'trestbps': 125.0,
 'chol': 212.0,
 'fbs': 0.0,
 'restecg': 1.0,
 'thalach': 168.0,
 'exang': 0.0,
 'oldpeak': 1.0,
 'slope': 2.0,
 'ca': 2.0,
 'thal': 3.0,
 'target': 0.23}

In [46]:
# Take two values and compare
print(str(array_instances[0].target) + "\n" + str(array_instances[1].target))

0.23
0.37

In [41]:
# Confirm that the greater operator works
array_instances[0] > array_instances[1]

False